<% if @product_type.errors.any? %>
<div class="ls-alert-danger"><strong>
  Você deve corrigir os seguintes erros:
  <% @product_type.errors.full_messages.each do |message| %>
    <p> <%= message %> </p>
  <% end %></strong>
</div>
<% end %>
<div class="ls-box ls-box-gray">
  <%= form_with model: @product_type, local: true, class:"ls-form ls-form-vertical row" do |f| %>
    <label class="ls-label col-md-4">
      <b class="ls-label-text"><%= f.label :name %></b>
      <%= f.text_field :name, placeholder: 'Ex: Email' %>
    </label>
    <label class="ls-label col-md-5">
      <b class="ls-label-text"><%= f.label :description %></b>
      <%= f.text_area :description, rows:'1', class: 'ls-textarea-autoresize', placeholder: 'Ex: Serviço de e-mail'  %>
    </label>
    <label class="ls-label col-md-5">
      <b class="ls-label-text"><%= f.label :product_key %></b>
      <%= f.text_area :product_key, rows:'1', class: 'ls-textarea-autoresize', placeholder: 'Ex: MAIL'  %>
    </label>
    <div class="ls-actions-btn">
      <%= f.submit class: 'ls-btn-primary'%>
    </div>
  <% end %>
</div>
