<% if @periodicity.errors.any? %>

  <% @periodicity.errors.full_messages.each do |msg| %>
     <%= msg %>
  <% end %>
<% end %>

<%= form_with model: @periodicity, class:"ls-form ls-form-inline row", local: true do |form| %>
  <label class="ls-label col-md-5">
    <b class="ls-label-text">Nome</b>
    <%= form.text_field :name, placeholder:"Nome do Período"  %>

  </label>
  <label class="ls-label col-md-4">
    <b class="ls-label-text">Período</b>
        <%= form.text_field :period, placeholder:"Período em meses" %>
  </label>
  <div class="ls-actions-btn">
  <%= form.submit "Salvar" , class: 'ls-btn'%>
  </div>
<% end %>
