<% if @periodicity.errors.any? %>
<div class="ls-alert-danger"><strong>
  Você deve corrigir os seguintes erros:
  <% @periodicity.errors.full_messages.each do |message| %>
    <p> <%= message %> </p>
  <% end %></strong>
</div>
<% end %>
<div class="ls-box ls-box-gray">
  <%= form_with model: @periodicity, local: true, class:"ls-form ls-form-vertical row" do |f| %>
    <label class="ls-label col-md-4">
      <b class="ls-label-text"><%= f.label :name %></b>
      <%= f.text_field :name, placeholder: 'Ex: Semestral' %>
    </label>
    <label class="ls-label col-md-4">
      <b class="ls-label-text"><%= f.label :period %></b>
      <%= f.text_field :period, placeholder: 'Ex: 6' %>
    </label>
    <div class="ls-actions-btn">
      <p class="ls-label-info"></p>
      <%= f.submit class: 'ls-btn-primary' %>
    </div>
  <% end %>
</div>
