<h1> Periodicidade </h1><br><br>

<% if @periodicities.empty?%>
<div class="ls-alert-danger"><strong>Atenção!</strong> Não há periodicidades cadastradas.</div>
<% end %>

<%= form_with url: "#", method: :post, class:"ls-form row" do |form| %>

  <%= form.label :name, 'Campo_nome', class: 'ls-label col-md-3' do%>
    <b class="ls-label-text">Nome</b>
    <p class="ls-label-info">Descrição</p>
    <%= form.text_field :name %>
  <% end %>
  <%= form.label :periodo, 'Campo_nome', class: 'ls-label col-md-3' do%>
    <b class="ls-label-text">Período</b>
    <p class="ls-label-info">Quantidade em Meses</p>
    <%= form.text_field :periodo %>
  <% end %>
  <div class="ls-actions-btn">
    <%= form.submit "Salvar" , class: 'ls-btn'%>
  </div>
<% end %>

<% @periodicities.each do |periodicity| %>
<div class="ls-list">
  <header class="ls-list-header">
    <div class="ls-list-title col-md-9">
      <a href="#" ><%= periodicity.name %></a>
    </div>
    <div class="col-md-3 ls-txt-right">
      <a href="<#" class="ls-btn-primary">Alterar Status</a>
    </div>
  </header>
  <div class="ls-list-content ">
    <div class="col-xs-12 col-md-6">
      <span class="ls-list-label">Status</span>
      <strong>Ativo</strong>
    </div>
    <div class="col-xs-12 col-md-6">
      <span class="ls-list-label">Quantidade de Meses</span>
      <strong><%= periodicity.period %></strong>
    </div>
  </div>
</div>



<% end %>

