<% if @plan.errors.any? %>
<div class="ls-alert-danger"><strong>
  Você deve corrigir os seguintes erros:
  <% @plan.errors.full_messages.each do |message| %>
    <p> <%= message %> </p>
  <% end %></strong>
</div>
<% end %>
<div class="ls-box ls-box-gray">
  <%= form_with model: @plan, local: true, class:"ls-form .ls-form-vertical row" do |f| %>
    <label class="ls-label col-md-4">
      <b class="ls-label-text"><%= f.label :name %></b>
      <%= f.text_field :name, placeholder:'Ex: Hospedagem Básica' %>
    </label>
    <label class="ls-label col-md-5">
      <b class="ls-label-text"><%= f.label :description %></b>
      <%= f.text_area :description, rows:"1", class:'ls-textarea-autoresize', placeholder: 'Ex: Direito a 10 sites' %>
    </label>
    <label class="ls-label col-md-5">
      <b class="ls-label-text"><%= f.label :details %></b>
      <%= f.text_area :details, rows:"1", class:'ls-textarea-autoresize', placeholder: 'Ex: Servidor Linux' %>
    </label>
    <label class="ls-label col-md-5">
      <b class="ls-label-text"><%= f.label :product_type_id %></b>
      <div class="ls-custom-select">
        <%= f.collection_select :product_type_id, @product_types, :id, :name, class: 'ls-select' %>
      </div>
    </label>
    <div class="ls-actions-btn">
      <%= f.submit class: 'ls-btn-primary'%>
    </div>
  <% end %>
</div>
