<%= flash[:notice] %>
<% if @plans.empty? %>
  Lista Vazia
<% end %>
<h2 class="ls-title-3">Cadastrar Plano <strong></strong></h2>
<%= render partial: 'form' %>
<hr>
<div class="ls-box">
  <header class="ls-info-header">
    <h6 class="ls-title-4">Lista de Planos</h6>
  </header>
  <% @plans.each do |plan| %>
    <div class="ls-list">
      <header class="ls-list-header">
        <div class="ls-list-title col-md-9">
          <%= link_to plan.name, root_path %>
        </div>
        <div class="col-md-3 ls-txt-right">
          <%= link_to 'Alterar', root_path, class:"ls-btn-primary" %>
        </div>
      </header>
      <div class="ls-list-content ">
        <div class="col-xs-12 col-md-6">
          <span class="ls-list-label"><%= ProductType.model_name.human %></span>
          <strong><%= link_to plan.product_type.name, product_type_path(plan.product_type) %></strong>
        </div>
      </div>
      <div class="ls-list-content ">
        <div class="col-xs-12 col-md-6">
          <span class="ls-list-label"><%= Plan.human_attribute_name('description') %></span>
          <strong><%= plan.description %></strong>
        </div>
      </div>
      <div class="ls-list-content ">
        <div class="col-xs-12 col-md-6">
          <span class="ls-list-label"><%= Plan.human_attribute_name('details') %></span>
          <strong><%= plan.details %></strong>
        </div>
      </div>
      <div class="ls-list-content ">
        <div class="col-xs-12 col-md-6">
          <span class="ls-list-label"><%= plan.status %></span>
          <strong>
            <% if plan.status == 'available' %>
              <%= link_to t('status.available'), unavailable_plan_path(plan), method: :post %>
          <% else %>
              <%= link_to t('status.unavailable'), available_plan_path(plan), method: :post %>
          <% end %>
          </strong>
        </div>
      </div>
    </div>
  <% end %>
</div>
