<%= flash[:notice]%>

<%= flash.each do |value| %>
  <div><%= value %></div>
<% end %>

<%= @plan.name %>
<%= @plan.description %>
<%= link_to @plan.product_type.name %>
<%= @plan.details %>
<%= link_to 'Editar', edit_plan_path(@plan) %>
