<%= render partial: 'header'%>
<!-- <h1 class='ls-title-intro'> <%= @view_name %> </h1> -->
<% if flash[:error]%>
  <% flash[:error].each do |item| %>
    <div class="ls-alert-danger"><strong>Atenção!</strong> <%= item %></div>
  <% end %>
<% end %>

<main class="ls-main ">
  <div class="container-fluid">
    <br>
    <p class="ls-alert-danger"><%= alert %></p>
    <p class="ls-alert-success"><%= notice %></p>
    <%= yield %>
  </div>

</main>
<%= render partial: 'footer'%>
